*{
	margin: 0;
	padding: 0;
}
body{
	margin-top: 90px;
}
.parent{
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotateX(0deg) rotateY(0deg);
	transform-style: preserve-3d;
	transition: transform 0.5s;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 40px;
	border-radius: 50%;
	background: #ddd;
}
.child{
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 50%;
	opacity: 0.8;
}
.child:nth-child(1){
	transform: translateZ(50px);
	width: 200px;
	height: 200px;
	background: blue;
}
.child:nth-child(2){
	transform: translateZ(100px);
	width: 100px;
	height: 100px;
	background: black;
}
.child:nth-child(3){
	transform: translateZ(150px);
	width: 30px;
	height: 30px;
	background: #fff;
}
.footer{
	margin-top: 90px;
}
.footer p{
	margin: 0 auto;
	text-align: center;
}
.footer p:nth-child(1){
	font-size: 40px;
	color: gold;
}
.footer p:last-child{
	margin-top: 6px;
	font-family: "等线";
	font-size: 16px;
	font-weight: bold;
}